.custom-node {
    -fx-background-color:cyan; /* set background to skyblue */
    -fx-border-color: red; /* set border to red*/
    -fx-border-width: 3; /* border width 3px */
    /*-fx-rotate: 45;*/
    -fx-opacity: 0.4;
    -fx-focus-traversable:true;
    /*-fx-effect:innershadow(two-pass-box,darkcyan,10,1.0,2,2);*/
    /*-fx-effect:dropshadow(three-pass-box, darkred, 7, 0, 0, 0);*/
}

.button{
    -fx-background-color:azure;
    -fx-border-color: #9d5797;
}

.button:hover{
    -fx-border-color: #66afe9;
}

.button:pressed{
    -fx-border-color: dodgerblue;
}

.button:selected{
    -fx-border-color: #66afe9;
    -fx-border-width: 2 2 2 2;
    -fx-border-style: solid;
    -fx-border-radius: 2;
}